<div class="container">
    <header class="login-header">
        <div class="header">
            <span class="circle-header"></span>
            <h1>Dev Planner</h1>
        </div>
        <mat-icon class="icon">restore_page</mat-icon>
    </header>

    <h2 class="login-subtitle">Recuperar Conta</h2>

    <p class="text-info">Digite seu Email para receber uma nova senha nele</p>

    <form class="forms">
        <label for="email">Email:</label>
        <input 
            type="email"
            id="email"
            placeholder="Digite seu email"
            required
            autocomplete="email">

        <button class="btn-forms">
            <mat-icon>backup</mat-icon>
            <span>Recuperar conta</span>
        </button>
    </form>
    
    <nav class="links">
        <a routerLink="/login">Voltar para o Login</a>
    </nav>
</div>