<div class="container">
  <aside class="sidebar">
    <div class="brand">
      <mat-icon class="logo">task_alt</mat-icon>
      <span class="brand-name">Dev Planner</span>
    </div>

    <nav class="menu">
      <a routerLink="/dashboard" routerLinkActive="active" class="item">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a routerLink="/tasks" routerLinkActive="active" class="item">
        <mat-icon>view_kanban</mat-icon>
        <span>Tarefas</span>
      </a>
    </nav>

    <p class="quote">“You attract what you are, not what you want.”</p>
  </aside>

  <main class="content">
    <nav>
      <div class="search-bar">
        <input class="search" type="text" placeholder="Pesquisar..." />
        <mat-icon class="icon">search</mat-icon>
      </div>

      <div class="icons-info">
        <span>Inicio</span>
        <span>/</span>
        <span class="active-page">Dashboard</span>
      </div>
    </nav>

    <router-outlet />
  </main>
</div>
