<div class="container">
    <div class="login-header">
        <span></span>
        <h1>Dev Planner</h1>
        <mat-icon>security</mat-icon>
    </div>

    <h2>Fazer login</h2>

    <p>Entre para visualizar suas tarefas pendentes conosco!</p>

    <form>
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Digite seu email">

        <label for="password">Senha</label>
        <input type="password" id="password" placeholder="Digite sua senha">

        <button>Entrar</button>
    </form>
    <a href="#">Esqueceu sua senha?</a>
    <a href="#">Registrar-se</a>
</div>