@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as mixins;

:host {
  @include mixins.flex-center;
  flex-direction: column;
  height: 100dvh;

  .container {
    background: rgba(148, 148, 148, 0.06);
    backdrop-filter: blur(12px);
    border: 1px solid #ffffff2e;
    padding: 40px;
    border-radius: 10px;

    .register-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header {
        display: flex;
        align-items: center;
        gap: 10px;

        .circle-header {
          background: linear-gradient(to top, $btn-primary, $btn-secondary);
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }

        h1 {
          font-size: 1rem;
          font-weight: 600;
        }
      }

      .icon { font-size: 1.5rem; }
    }

    .register-subtitle {
      margin-top: 20px;
      font-size: 1.3rem;
    }

    .text-info {
      margin-top: 10px;
      font-size: .9rem;
      color: $dark-gray;
    }

    .forms {
      padding-top: 30px;

      label {
        display: block;
        font-size: 1.1rem;
        color: $gray;
      }

      input {
        width: 100%;
        background: #ffffff08;
        border: 1px solid #ffffff2e;
        padding: 15px 20px;
        border-radius: 8px;
        font-size: 1.1rem;
        margin: 5px 0 25px;
        transition: .3s;
        color: $white;

        &::placeholder {
          color: #9db0cf;
          opacity: .8;
        }

        &:hover {
          background: rgba(255, 255, 255, 0.06);
          border-color: #1e90ff;
        }

        &:focus {
          border-color: #1e90ff;
          background: rgba(255, 255, 255, 0.08);
          box-shadow: 0 0 0 3px rgba(30, 144, 255, 0.3);
          outline: none;
        }
      }

      .btn-forms {
        @include mixins.flex-center;
        width: 100%;
        background: linear-gradient(135deg, $btn-primary, $btn-secondary);
        box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
        gap: 10px;

        &:hover {
          background: linear-gradient(135deg, #008cff, #00c6ff);
          box-shadow: 0 6px 16px rgba(0, 180, 255, 0.4);
        }
      }
    }

    .links {
      text-align: center;
      padding-top: 15px;

      a {
        font-size: 1rem;
        color: $gray;

        &:hover {
          text-decoration: underline;
          color: $white;
        }
      }
    }
  }
}
